* {
    margin: 1px 0 0 0;
    padding: 0;
    font-family: sans-serif;
}
table, .config, #tempo {
    margin: auto;
    width: 560px;
    border: 1px solid gray;
    border-collapse: collapse;
}
table td {
    height: 160px;
    font-size: 100px;
    text-align: center;
    border: 2px solid gray;
    width: 160px;
}
.config, #tempo {
    text-align: center;
    border: none;
    margin-top: 5px;
}
.config input {
    padding: 10px;
}
.config span {
    padding: 9px 15px 11.5px 15px;
    border: 1px solid gray;
    background-color: lightgray; 
    box-shadow: 2px 2px 5px 1px lightgray;
}
.config button {
    margin: 16px 0;
    padding: 9px 15px;
    background-color: lightgray;
    border: 1px outset gray;
    cursor: pointer;
}
.msg {
    color: red;
    font-size: small;
    font-weight: bold;
    width: 550px;
    padding: 10px;
    background-color: #fafafa;
    margin: 3px auto 10px auto;
    height: 15px;
    border: 1px solid gray;
}